<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form (queryChange)="search($event)" 
                     [query]="query$ | async">
    </app-search-form>

  </div>
</div>
<div class="row">
  <div class="col">

    <div *ngIf="error">{{error.message}}</div>

    <ng-container *ngIf="albums$ | async as albums">

      <p>Found {{ (albums)?.length}} results </p>

      <app-albums-list [albums]="albums"></app-albums-list>

    </ng-container>

  </div>
</div>
