<div class="card">
  <div class="card-header">  
    <ng-content select=".card-title">
    </ng-content>
  </div>

  <div class="card-body">

    <ng-content></ng-content>
  
  </div>

  <div class="card-footer">  
      <ng-content select="card-footer">
      </ng-content>
    </div>
  
</div>
