<!-- .form-group>input.form-control -->
<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" placeholder="Search" class="form-control" formControlName="query">

  <!-- 
  <my-form-mesagess [field]="queryForm.get('query')"> 
  -->
  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">

      <p *ngIf="field.hasError('required')">
        Enter query!
      </p>

      <p *ngIf="field.getError('minlength') as error">
        Minimum query length is {{error.requiredLength}} characters
      </p>

      <p *ngIf="field.getError('censor') as error">
        Cannot include words linke "{{error.badword}}" 
      </p>

    </ng-container>


  </ng-container>

</div>
