<!-- .row>.col*2 -->

<div class="row">
    <div class="col">
  
      <app-items-list 
      (selectedChange)="select($event)" 
      [selected]="selected$ | async" 
      [items]="playlists$ | async">
      </app-items-list>
      <button (click)="createNew()">Create New</button>
    </div>
    <div class="col">
  
        <app-playlist-details *ngIf="selected$ | async as selected" 
        (playlistSave)="save($event)"
        [playlist]="selected">
        </app-playlist-details>
        <app-playlist-details *ngIf="selected$ | async as selected" 
        (playlistSave)="save($event)"
        [playlist]="selected">
        </app-playlist-details>
  
      <div *ngIf="!(selected$ | async)" >Please select playlist</div>
  
    </div>
  </div>
  
  
  
  
  
  
  
  
  <!-- ng g c playlists/view/playlists-view -->
  <!--  -->
  <!-- ng g c playlists/components/items-list -->
  <!-- ng g c playlists/components/list-item -->
  <!-- ng g c playlists/components/playlist-details -->
  <!-- ng g c playlists/components/playlist-form -->
  