<!-- 
  .card-group>.card>img.card-img-top+.card-body>h3.card-title{Test} -->


<div class="card-group">

  <app-album-card 
    [album]="album"
    *ngFor="let album of albums">
  </app-album-card>

  
</div>
