<!-- https://getbootstrap.com/docs/4.3/components/navbar/#nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    
    <a class="navbar-brand" routerLink="/"
    [routerLinkActiveOptions]="{ exact: true}"
    routerLinkActive="active">Music App</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" routerLink="/playlists">Playlists</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" routerLink="/music" routerLinkActive="active">Music Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="container mt-2">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
