// ::ng-deep p{}
// :host ::ng-deep p {}

:host(.selected) {
  border: 1px solid black;
  display: block;
}

:host-context(.theme-pink) p {
  color: hotpink;
}

.list-group-item {
  border-left: 10px solid;
}

/* .list-group-item{
  cursor:pointer;

  &:hover{
    background: rgba(0,0,0,0.05)
  }
} */
