<!-- 
      [style.borderLeftColor]="hover == playlist? playlist.color : 'initial'"
      (mouseenter)=" hover = playlist"
      (mouseleave)=" hover = false" 
-->

<div class="list-group">
  <div class="list-group-item"
      [class.active]=" selected?.id == playlist.id"
      (click)=" select(playlist) "

      [appHighlight]="playlist.color"

      *ngFor="let playlist of playlists; index as i; trackBy trackFn">
    {{i+1}}. {{playlist.name}}
  </div>

</div>

<!-- for(let i of lista){} -->


<!-- <ng-template ngFor [ngForOf]="playlists" let-playlist="$implicit" let-i="index">
    <div class="list-group-item">
      {{i+1}}. {{playlist.name}}
    </div>
  </ng-template> -->
