<!-- <ng-template [ngIf]="mode == 'show'" [ngIfThen]="showRef" [ngIfElse]="formRef">
</ng-template> -->

{{random()}}

<ng-container [ngSwitch]="mode">

  <div *ngSwitchDefault>

    <app-card>

      <dl [title]="playlist.name" [attr.data-id]="playlist.id">
        <dt>Name:</dt>
        <dd>{{playlist.name}}</dd>

        <dt>Favourite:</dt>
        <dd>{{ playlist.favourite? 'Yes':'No' }}</dd>

        <dt>Color</dt>
        <dd [style.color]="playlist.color" [ngStyle]="{
                borderBottom: '1px solid '+playlist.color
              }">{{ playlist.color }}</dd>
      </dl>

      <input ngProjectAs="card-footer" type="button" value="Edit" class="btn btn-info" (click)="edit()">

      
      <h3 class="card-title">Playlist</h3>

    </app-card>

  </div>




  <div *ngSwitchCase="  'edit'   ">

    <app-card>
      <form #formRef="ngForm" (ngSubmit)="save(formRef)">

        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel">
          <!-- {{nameRef.value}} -->
        </div>

        <div class="form-group">
          <label>Favourite:</label>
          <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
        </div>

        <div class="form-group">
          <label>Color:</label>
          <input type="color" [(ngModel)]="playlist.color" name="color">
        </div>

        <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
        <input type="submit" value="Save" class="btn btn-success">
      </form>
    </app-card>
  </div>

</ng-container>


<!-- <ul>
    <ng-container ngIf>
        <li></li>
        <li></li>
    </ng-container>
    <li></li>
    <li></li>
  </ul> -->
