<p>
  counter works!
</p>

<dl>
  <dt>Counter:</dt>
  <dd>{{counter$ | async }}</dd>
  
  <dt>Inc:</dt>
  <dd><input type="number" #incRef> <button (click)="inc(incRef.value)">Inc</button></dd>
  
  <dt>Dec:</dt>
  <dd><button (click)="dec()">Dec</button></dd>

  <dt>Reset:</dt>
  <dd><button (click)="reset()">Reset</button></dd>
</dl>
